= formula_form_for contact, :html => { :class => 'well form-horizontal' } do |form|
  = form.input :name, :hint => "first and last name"
  = form.input :details, :hint => "a detailed description", :input => { :size => "30x3" }
  = form.input :email, :hint => "sample@example.com"
  = form.input :phone, :hint => "+01 (555) 555-5555"
  = form.input :url, :label => "Website", :hint => "http://example.com/"
  = form.input :avatar
  = form.association :group, Group.all, :id, :name, :association => { :html => { :class => 'group' } }
  = form.input :secret, :as => :hidden
  .form-actions
    = form.submit 'Submit', :class => 'btn btn-primary'
    = link_to 'Cancel', :back, :class => 'btn'