<div class="page-header">
  <h1>
    List
    <small>Contacts</small>
  </h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>URL</th>
      <th></th>
    </tr>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.phone %></td>
        <td><%= mail_to contact.email %></td>
        <td><%= link_to contact.url %></td>
        <td>
          <%= link_to 'Edit', edit_contact_path(contact), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', contact, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New', new_contact_path, class: 'btn btn-primary' %>
</p>
