%h1
  List
  %small Contacts
%table.table.table-striped.table-bordered
  %colgroup{ width: '25%' }
  %colgroup{ width: '25%' }
  %colgroup{ width: '25%' }
  %colgroup{ width: '25%' }
  - @contacts.each do |contact|
    %tr
      %td= contact.name
      %td= contact.phone
      %td= mail_to contact.email
      %td= link_to contact.url
      %td= link_to 'Edit', edit_contact_path(contact), :class => 'btn btn-warning'
      %td= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'

%p
  = link_to 'New', new_contact_path, :class => 'btn btn-primary'