<div class="page-header">
  <h1>
    List
    <small>Contacts</small>
  </h1>
</div>

<table class="table table-striped table-bordered">
  <colgroup style="width: 25%;"></colgroup>
  <colgroup style="width: 25%;"></colgroup>
  <colgroup style="width: 25%;"></colgroup>
  <colgroup style="width: 25%;"></colgroup>

  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.phone %></td>
      <td><%= mail_to contact.email %></td>
      <td><%= link_to contact.url %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact), class: 'btn btn-warning' %></td>
      <td><%= link_to 'Destroy', contact, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'New', new_contact_path, class: 'btn btn-primary' %>
</p>
